// COLORS
$color-primary-white: #FEFEFF;
// $color-primary-white: #f8f7fa;


$color-primary-text: #464646;
$color-secondary-blue: #254177;
$color-secondary-black: #1F2124;
$color-accent-lightBlue: #5A77B0;
$color-accent-orange: #F27405;
$color-accent-yellow: #F2CB05;
$color-accent-grey: #E5E5E5;
$color-accent-grey-2: #D9D9D9;

// FONT
$default-font-size: 1.2rem;

