.categoryMeals{
    width: 90%;
    min-height: 70vh;
    margin: 2rem auto 1.6rem auto;


    &__header{
        margin: 2.4rem 0;
    }

    &__meals{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
        gap: 4rem;
        
    }
}