.searchPage{
    width: 90%;
    margin: 2rem auto 1.6rem auto;

    h2{
        margin-bottom: 2rem;
    }
}

.searchQuery{
    color: $color-accent-orange;
}

.searchResults{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    gap: 2.5rem 3rem;
}